extends layout

block custom-styles
    link(rel="stylesheet", href="/css/front-end.css")

block nav
    include partials/nav-home

block content
    h1 #{name}
    h3 (Front-End Project)
    .project-wrapper
        .project-tab
            for extension in extensions
                - let ext = extension
                button(id='btn-' + ext) #{extension}
            button#demo demo
        div#project-body
    script.
        $(function(){
            '#{extensions}'.split(',').forEach(function(extension){
                $('#btn-' + extension).click(function(){
                    $.ajax('/project-files/front-end/#{route}/#{file}.' + extension)
                    .then(data=>$("#project-body").html(data.replace(/</g, '&lt;').replace(/>/g, '&gt;')));
                })
            })
        })