.bg-color#gallery-section
    h2.space.text-center.my-5#projects My Projects
    p 
        | *Note: more projects will be added below as I adapt more projects that I've created through 
        | #[a(href='https://www.freecodecamp.org/', target='_blank') freecodecamp.org] to this portfolio. In the meantime you can view my projects
        | at my #[a(href='https://codepen.io/TaraBryn', target='_blank') codepen portfolio] (for front-end projects), 
        | #[a(href='https://glitch.com/@TaraStahler', target='_blank') glitch portfolio] (for back-end projects), 
        | or on my #[a(href='https://github.com/TaraBryn', target='_blank') github], where you can see the source code for this portfolio.
    h3.space.text-center.my-3 Front End
    .gallery-container
        for project, key in front_end
            div
                h5.galleryImgHeader #{project.name}
                .project-wrapper
                    .project-container
                        img(src=`/images/projects/front-end/${project.image}`, 
                        alt=project.name)
                        .overlay
                            - let url = project.url.replace('/pen/', '/full/')
                            .gallery-description 
                                .text-center #{project.description}
                            a.btn.btn-primary.btn-block(href=url, target = '_bank') Demo
                            a.btn.btn-primary.btn-block(href=project.url, target='_blank') Code
    h3.space.text-center.my-5 Back End
    .gallery-container
        for project, key in back_end
            div
                h5.galleryImgHeader #{project.name}
                .project-wrapper
                    .project-container
                        img(src=`/images/projects/backend/${project.image}`,
                        alt=project.name)
                        .overlay
                            .gallery-description
                                .text-center #{project.description}
                            a.btn.btn-primary.btn-block(href=project.demo, target='_blank') Demo
                            a.btn.btn-primary.btn-block(href=project.code, target='_blank') Code