.bg-color#gallery-section
    h2.space.text-center.my-5#projects My Projects
    p 
        | *These are full-stack certification projects from 
        | #[a(href='https://www.freecodecamp.org/', target='_blank') freecodecamp.org] completed by me.
        | you can view the certifications I earned on #[a(href='https://www.freecodecamp.org/tarabryn', target='_blank') my profile page]. 
    .accordian#accordion
        .card.bg-color
            .card-header
                h5.mb-0
                    btn.btn.btn-link#frontHead(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='false', aria-controls='collapse1' ) Front End
            .collapse#collapse1(aria-labelledby='frontHead', data-parent='#accordion') //.show class removed
                .card-body
                    .gallery-container
                        for project, key in front_end
                            div
                                h5.galleryImgHeader #{project.name}
                                .project-wrapper
                                    .project-container
                                        img(src=`/images/projects/front-end/${project.image}`,
                                        alt=project.name)
                                        .overlay
                                            -let url = project.url.replace('/pen/', '/full/')
                                            .gallery-description
                                                .text-center #{project.description}
                                            a.btn.btn-primary.btn-block(href=url, target='_blank') Demo
                                            a.btn.btn-primary.btn-block(href=project.url, target='_blank') Code
        .card.bg-color
            .card-header
                h5.mb-0
                    btn.btn.btn-link#backHead(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='false', aria-controls='collapse2') Back End
            .collapse#collapse2(aria-labelledby='backHead', data-parent='#accordion')
                .card-body
                    .gallery-container
                        for project, key in back_end
                            div
                                h5.galleryImgHeader #{project.name}
                                .project-wrapper
                                    .project-container
                                        img(src=`/images/projects/backend/${project.image}`,
                                        alt=project.name)
                                        .overlay
                                            .gallery-description
                                                .text-center #{project.description}
                                            a.btn.btn-primary.btn-block(href=project.demo, target='_blank') Demo
                                            a.btn.btn-primary.btn-block(href=project.url, target='_blank') Code